{% extends "base.html" %}

{% block content %}
<div class="container">
    <h1>Selecione um Sitio para Gerar o PDF</h1>
    
    <!-- Formulário para selecionar o Sitio -->
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="sitio">Escolha um Sitio:</label>
            <select name="sitio" id="sitio" class="form-control">
                <option value="">Selecione um Sitio</option>
                {% for sitio in sitios %}
                    <!-- Corrigido: usar 'sitio.idsitio' ao invés de 'sitio.id' -->
                    <option value="{{ sitio.idsitio }}" {% if sitio.idsitio == sitio_selecionado %}selected{% endif %}>{{ sitio.nome }}</option>
                {% endfor %}
            </select>
        </div>
        <button type="submit" class="btn btn-primary mt-2">GERAR PDF</button>
    </form>

    {% if sitio_selecionado %}
        <h2>Fotos do Sitio Selecionado:</h2>
        <!-- Aqui você pode exibir as fotos ou qualquer outra informação relacionada ao sitio -->
        {% if fotos %}
        <h2>Fotos do Sitio "{{ nome_sitio }}":</h2>
        <div class="row mt-4">
            {% for foto in fotos %}
                <div class="col-md-4">
                    <img src="{{ foto.foto.url }}" class="img-fluid" alt="{{ foto.descricao }}">
                    <p><strong>{{ foto.nome }}</strong></p>
                    <p>{{ foto.descricao }}</p>
                </div>
            {% endfor %}
        </div>
        {% endif %}
        
        <!-- Link para gerar o PDF -->
        <a href="{% url 'create_pdf' sitio_id=sitio_selecionado %}" class="btn btn-success mt-3">Gerar PDF</a>
    {% elif sitio_selecionado is none %}
        <p>Nenhuma foto encontrada para o sitio selecionado.</p>
    {% endif %}
</div>
{% endblock %}
