{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="container-fluid d-flex justify-content-center align-items-center" style="height: 100vh; background-color: #536eb3;">
  <div class="col-md-4 text-center">
    <div class="card shadow-sm" style="border: none; border-radius: 10px; background-color: #536eb3; color: white;">
      <div class="card-body">
        <h1 class="display-4 mb-4">Bem-vindo ao Behive Reporter</h1>
        {% if user.is_authenticated %}
          <h5 class="card-title">Olá, {{ user.username }}!</h5>
          <p class="card-text">O que você gostaria de fazer?</p>
          <form action="{% url 'password_change' %}" method="get" class="mb-3">
            <button type="submit" class="btn btn-custom">Alterar Senha</button>
          </form>
          <form action="{% url 'admin:index' %}" method="get" class="mb-3">
            <button type="submit" class="btn btn-custom">Área de Administração</button>
          </form>
          <form action="{% url 'logout' %}" method="post" class="mt-auto">
            {% csrf_token %}
            <button type="submit" class="btn btn-custom">Sair</button>
          </form>
        {% else %}
          <h5 class="card-title">Você não está logado</h5>
          <p class="card-text">Faça o login para acessar seu painel.</p>
          <form action="{% url 'login' %}" method="get" class="mb-3">
            <button type="submit" class="btn btn-custom">Fazer Login</button>
          </form>
        {% endif %}
      </div>
    </div>
  </div>
</div>

<style>
  .btn-custom {
    background-color: white;
    color: #5756DB;
    width: 100%;
    height: 50px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    margin-bottom: 10px;
  }

  .btn-custom:hover {
    background-color: #5756DB;
    color: white;
  }
</style>
{% endblock %}
